* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.row {
    display: flex;
    flex-direction: row;
}

.between {
    display: flex;
    justify-content: space-between;
}

.row div {
    width: 100px;
    height: 40px;
    background-color: purple;
    margin: 10px;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 5px;
}
.between div{
    width: 100px;
    height: 40px;
    background-color: purple;
    margin: 10px;
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 5px;
}
.container{
    max-width: 720px;
}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 150px;
}